# Sync Fork

name: Sync Fork

on:
  schedule:
    - cron: '0 * * * *'

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          repository: 7Sageer/sublink-worker
          path: upstream

      - name: Merge upstream
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git checkout main
          git merge upstream/main

      - name: Push changes
        run: |
          git push origin main
